.nav{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    overflow: hidden;
}

.nav-links{
    list-style: none;
    justify-content: space-between;
    display: flex;
}

.nav-title{
    background-color: transparent;
}
